node_modules/
.next/
.turbo/
.vercel/
dist/
out/
coverage/

# Logs and PIDs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.http_server_pid
.next_dev_pid

# Env
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
.vscode/
.idea/

